.listItemWrapper {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid rgba(10, 10, 10, 0.1);
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  background-color: rgba(100, 100, 100, 0.2);
}